
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
    
  </ion-card-header>
    
  <ion-card-content>  
    <ion-label>Bienvenido {{nombreUsuario}} <br> </ion-label>  
    <ion-label>Gracias por haber iniciado sesión en TeLlevoApp<br> Escoge una opción para empezar: </ion-label> <br>

    <div id="seccionProgramar">
    <ion-button shape="round" color="tertiary" id="btnProgramar"> Programar Viaje</ion-button><br>
    </div>
    <div id="seccionVerficar">
    <ion-button shape="round" color="tertiary" id="btnVerficar">Verificar vehiculos con capacidad </ion-button>
    </div>
  </ion-card-content>
  </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> TeLlevoApp </ion-title>
  </ion-toolbar>
</ion-footer>
