<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Recuperar Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¿Quién eres?</ion-card-title>
        <ion-card-subtitle>
          Recupera tu cuenta ingresando tu correo electrónico o nombre de usuario.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-label position="floating">Correo electrónico o nombre de usuario</ion-label>
            <ion-input type="email" placeholder="ejemplo@correo.com"></ion-input>
          </ion-item>


          <ion-button expand="full" color="primary">Siguiente</ion-button>
          <ion-button expand="full" fill="outline" color="medium" (click)="goHome()">Volver</ion-button>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-footer>
