ion-item {
    --inner-padding-top: 10px;
    --inner-padding-bottom: 10px;
  }
  
  ion-label {
    margin-bottom: 16px; /* Ajusta este valor para aumentar la separación */
  }
  
  ion-input {
    margin-top: 12px; /* Ajusta este valor para separar más el input */
  }
  