ion-label{
    font-size: 18px;
}

#btnProgramar{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

#btnVerificar{
    text-align: center;
    padding-top: 3%;
    
}

ion-card {
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(8, 8, 8, 0.1);
    width: 90%;
    height: 80%;
    border-radius: 10%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    background: #272c39 ;
  }
